body {
    font-family: 'NTR', sans-serif;
    color: rgb(205, 205, 205);
    background-color: rgb(50, 67, 99);
    margin: 0%;
    font-size: 1.5rem;
}

.wrapper {
    margin: 1.5em;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    transition: transform 0.3s ease 0s;
    color: white;
}

.dark-cover {
    background-color: rgba(0, 0, 0, 0.30);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-size: cover;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    background-size: cover;
}

.logo {
    color: white;
    font-weight: 800;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;

    svg {
        width: 3em;
        margin: 3em;
    }
    
    span {
        color: rgb(132, 56, 164);
    }
}

h1:hover {
    transform: translateY(-20px);
}
